<ul *ngFor="let persona of personas" [ngSwitch]="persona.hobby">
  <li *ngSwitchCase="'Cantar'" class="text-primary">
    {{ persona.nombre }} y su edad es de: {{ persona.edad }}
  </li>
  <li *ngSwitchCase="'Saltar'" class="text-danger">
    {{ persona.nombre }} y su edad es de: {{ persona.edad }}
  </li>
  <li *ngSwitchCase="'Correr'" class="text-info">
    {{ persona.nombre }} y su edad es de: {{ persona.edad }}
  </li>
  <li *ngSwitchCase="'Cagar'" class="text-dark">
    {{ persona.nombre }} y su edad es de: {{ persona.edad }}
  </li>
</ul>
